<h3 class="heading_a uk-margin-bottom uk-text-center uk-text-primary">MOVIE LIST</h3>

        

        <div  class="uk-grid-width-small-1-4" ng-repeat="product in products_data" >
            <div class="pro_grid" >
                <div class="md-card md-card-hover-img" >
                    <div class="md-card-head uk-text-center uk-position-relative">
                        <div class="uk-badge uk-badge-danger uk-position-absolute uk-position-top-left uk-margin-left uk-margin-top">{{ product.price | currency : "$" : 2}}</div>
                        <img class="md-card-head-img" src="images/ecommerce/s6_edge_1.jpg" alt=""/>
                    </div>
                    <div class="md-card-content">
                        <h4 class="heading_c uk-margin-bottom">
                            {{ product.name }}
                            <span class="sub-heading">SKU: {{ product.sku }}</span>
                        </h4>
                        <p>{{ product.description }}</p>
                        <a class="md-btn md-btn-small" ng-click="delete(product.id)">Delete</a>
                    </div>
                </div>
            </div>
        </div>

  
